{% load static %}

<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "scoring/style.css" %}" rel="stylesheet" type="text/css" media="screen" />

    <title>Deschutes Demo Scoring - Final Results</title>
  </head>
<html lang="en">

<div class="jumbotron">
  <div align="center">
  <a href="/">
  <img src="{% static "scoring/cc-header.jpeg" %}" width="1600" height="200"/>
  </a>
  </div>
</div>



<h1>
<p align='center'>
  {{currentDivision}}
</p>
</h1>

<table class="table table-striped">
<th>Team</th>
{% for workout in workouts %}
<th>{{workout.description}}</th>
{% endfor %}
<th>Total</th>
<th>Rank</th>
{% for score in allWorkouts %}
<tr>
<td>
{{score.team}}</td><td>

  {% for event in score.eventScores %}
  {{event.rank}} <span>({% if event.score.workout.scoringStyle == 'R' %}{{event.score.reps}}{% endif %}{% if event.score.workout.scoringStyle == 'T' %}{{event.score.minutes}}:{% endif %}{% if event.score.workout.scoringStyle == 'T' %}{{event.score.seconds}} - {{event.score.reps}}{% endif %}{% if event.score.workout.scoringStyle == 'W' %}{{event.score.weight}}{% endif %})</span>
  </td><td>
  {% endfor %}

{{score.score}}</td><td>
<span class="finalRank" > {{score.rank}} </span></td>

</tr>
{% endfor %}
</table>
<div align='center'>
<form action="" method="get">
              <select id = "division" name="division">
                     {% for division in divisions %}
               <option value = {{division.id}}>{{division.description}}</option>
                     {% endfor %}
              </select>
    <input type="submit" value="Choose Division">
</form>
</div>
</html>