{% load static %}

<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "scoring/style.css" %}" rel="stylesheet" type="text/css" media="screen" />

    <title>Deschutes Demo Scoring - Final Results</title>
  </head>
<html lang="en">

<div class="jumbotron">
  <div align="center">
  <img src="{% static "scoring/dd-header.gif" %}" width="1600" height="200"/>
  </div>
</div>


<div align='center'>
<form action="" method="post">
	  {% csrf_token %}
              <select id = "division" name="division">
                     {% for division in divisions %}
               <option value = {{division.id}}>{{division.description}}</option>
                     {% endfor %}
              </select>
    <input type="submit" value="Choose Division">
</form>
</div>
<p align='center'>
{{currentDivision}}
</p>

<table class="table">
<th>Team</th>
{% for workout in workouts %}
<th>{{workout.description}}</th>
{% endfor %}
<th>Total</th>
<th>Rank</th>
{% for score in allWorkouts %}
<tr>
<td>
{{score.team}}</td><td>

  {% for event in score.eventScores %}
  {{event.rank}} </td><td>
  {% endfor %}

{{score.score}}</td><td>
{{score.rank}}</td>

</tr>
{% endfor %}
</table>


</html>